@use "../utils/variables" as var;
@use "../utils/mixins" as m;
@use "sass:map";

.skill-card {
    padding: 20px;
    width: 100%;
    border-radius: 15px;

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        i {
            font-size: 30px;

            @include m.media-breakpoints-up(lg) {
                font-size: 40px;
            }
        }
    }

    &-body {
        h3 {
            font-size: 16px;
            font-weight: map.get(var.$font-weights, bold);
            font-family: var.$poppins;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;

            @include m.media-breakpoints-up(lg) {
                font-size: 20px;
            }
        }

        p {
            font-size: 16px;
            text-align: center;
            margin-top: 10px;
            line-height: 25px;

            @include m.media-breakpoints-up(md) {
                font-size: 18px;
            }

            @include m.media-breakpoints-up(lg) {
                font-size: 20px;
            }
        }
    }
}
