@use "../utils/variables" as var;
@use "../utils/mixins" as m;
@use "sass:map";

.skill-card {
    padding: 40px;
    width: 100%;
    background-color: var.$white-color;
    border: 2px solid var.$secondary-color;
    border-radius: 15px;    

    &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        i {
            font-size: 30px;            
        }
    }

    &-body {

        h4 {
            font-size: 13px;
            font-weight: map.get(var.$font-weights, bold);
            font-family: var.$poppins;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;            
        }

        p {
            font-size: 14px;
            text-align: center;
            margin-top: 10px;
            line-height: 25px;

            @include m.media-breakpoints-up(lg){
                font-size: 16px;
            }
        }
    }
}