@use "sass:map";

// Colors
$colors: (
    "white-clr": #fff,
    "very-dark-gray": #222222,
    "dark-red": #aa0e2b,
    "dark-grayish-yellow": #969d76,
    "very-light-gray": #f5f5f5,
    "very-soft-red": #de95a2,
    "dark-gray": #444444,
);

$primary-color: map.get($colors, "very-dark-gray");
$secondary-color: map.get($colors, "dark-grayish-yellow");
$ternary-color: map.get($colors, "dark-red");
$accent-color: map.get($colors, "very-soft-red");
$white-color: map.get($colors, "white-clr");
$section-bg-color: map.get($colors, "very-light-gray");

$text-color: $primary-color;
$section-bg-color: map.get($colors, "very-light-gray");

$social-media-bg-color: map-get($colors, "dark-gray");
$social-media-text-color: map-get($colors, "white-clr");

$footer-bg: $primary-color;
$footer-text-color: map-get($colors, "white-clr");

// Breakpoints
$breakpoints-up: (
    "xs": 450px,
    "sm": 576px,
    "md": 768px,
    "lg": 992px,
    "xl": 1200px,
    "xxl": 1400px,
    "xxxl": 1900px,
);

// Fonts
$poppins: "Poppins", sans-serif;
$red-hat-display: "Red Hat Display", sans-serif;

$font-weights: (
    "regular": 400,
    "medium": 500,
    "semi-bold": 600,
    "bold": 700,
    "black": 900,
);
