@use "../utils/variables" as var;
@use "../utils/mixins" as m;
@use "sass:map";

.cta-section {
    position: relative;
    overflow: hidden;
    color: var.$white-color;
    width: 100%;
    height: 415px;

    background-image: url(../../assets/images/cta-section/cta-section-xs.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: local;

    @include m.media-breakpoints-up(sm) {
        height: 315px;
        background-image: url(../../assets/images/cta-section/cta-section-xxxl.webp);
        background-position: left;
    }

    img {
        width: 100%;
        height: 100%;
    }

    &-content {
        position: absolute;
        inset: 0;
        padding: 0px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(34, 34, 34, 0.7);
        text-align: center;

        h3 {
            font-size: 20px;
            font-weight: map-get(var.$font-weights, bold);

            @include m.media-breakpoints-up(sm) {
                font-size: 22px;
            }

            @include m.media-breakpoints-up(lg) {
                font-size: 24px;
            }

            @include m.media-breakpoints-up(xxl) {
                font-size: 26px;
            }
        }

        p {
            margin-top: 30px;
            max-width: 400px;

            @include m.media-breakpoints-up(sm) {
                font-size: 20px;
            }

            @include m.media-breakpoints-up(xxl) {
                font-size: 22px;
            }
        }
    }
}

.button-group {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin-top: 55px;
    width: 80%;
    max-width: 550px;

    @include m.media-breakpoints-up(sm) {
        flex-direction: row;
        justify-content: center;
        column-gap: 35px;
    }
}
