@use "../utils/variables" as var;
@use "../utils/mixins" as m;

.scroll-to-top-section {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: var.$primary-color;
    margin: 15px;
    top: 0;
    right: 0;
}
